:root {
  --font-family: Arial, sans-serif;
  --default-bg-color: #1d1e20;
  --default-text-color: #ffff;

  --spacing: 1.95rem;

  --head-subtitle-color: hsl(234, 12%, 34%);
  --general-bg-color: hsl(180, 5%, 92%);
  --general-txt-color: hsl(229, 6%, 66%);
  --subtitle-color: hsl(234, 12%, 34%);
  --supervisor-color: hsl(180, 62%, 55%);
  --team-color: hsl(0, 78%, 62%);
  --calculator-color: hsl(212, 86%, 64%);
  --karma-color: hsl(34, 97%, 64%);

  --shadow: 0.5em 1em 1em hsl(229deg 6% 66%);

  --min-main-display: 20rem;
  --minmax-card: 15em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-family);
  text-decoration: none;
}

body {
  background-color: var(--general-bg-color);
  color: var(--default-text-color);
  font-family: var(--font-family);
  padding-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

/* Header */
.header {
  background-color: var(--default-bg-color);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo,
.link {
  color: var(--default-text-color);
}

.logo {
  margin: 5% auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .item {
  display: block;
  padding: var(--spacing);
}

/* Main Section */

/* Main */
.main-cards {
  width: 100%;
  height: auto;
  min-width: var(--min-main-display);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.card {
  position: relative;
  color: var(--default-bg-color);
  font-size: 0.899rem;
  font-weight: 600;
  background-color: var(--general-bg-color);
  height: 13em;
  max-width: 75%;
  min-width: var(--minmax-card);
  padding: 1.5rem;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle {
  color: var(--subtitle-color);
}

.pic-container {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
}

/* .supervisor */
.supervisor .pic-container {
  background-image: var(--supervisor-img);
}

.supervisor {
  border-top: 0.4em solid var(--supervisor-color);
}

/* .team */
.team .pic-container {
  background-image: var(--team-img);
}

.team {
  border-top: 0.4em solid var(--team-color);
}

/* .karma */
.karma .pic-container {
  background-image: var(--karma-img);
}

.karma {
  border-top: 0.4em solid var(--karma-color);
}

/* .calculator */
.calculator .pic-container {
  background-image: var(--calculator-img);
}

.calculator {
  border-top: 0.4em solid var(--calculator-color);
}

.pic-container:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 26.875rem) {

  body,
  .header {
    width: 100%;
    gap: 3rem;
  }

  .logo {
    margin-left: var(--spacing);
    font-weight: 600;
  }

  .main-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    max-width: 18rem;
  }
}

@media (min-width: 48.125rem) {

  body {
    font-size: 1.3rem;
    gap: 3rem;
  }

  .logo {
    margin: 2% 2%;
  }

  .main-cards {
    display: grid;
    grid-template-columns: repeat(3, var(--min-main-display));
  }

  .card {
    max-width: var(--min-main-display);
  }

  .supervisor {
    grid-row: 1/3;
  }

  .calculator {
    grid-row: 1/3;
    grid-column: 3;
  }

  .karma {
    order: 4;
    grid-column: 2;
  }
}